@model NguyenThuanThien_BigSchool.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<ul class="course">
    @foreach (var course in Model.UpcommingCourses)
    {
        <li id="@course.Id">
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details" >
                <span class="lecturer">
                    @course.Lecturer.name
                </span>
                <span class="category">
                    @course.Category.Name
                    @if (Model.ShowAction)
                    {
                        <button  data-course-id="@course.Id" onclick="UnAtten('@course.Id')" class="btn btn-default btn-sm js-toggle-attendance">Huỷ tham gia</button>}
                </span>
            </div>
        </li>
    }
</ul>

<script>

    function UnAtten(idCourse) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UnAtten", "Courses")',
            data: { id: idCourse },
            success: function (data) {
                console.log("Success");
                var x = "#" + idCourse;
                $(x).remove();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("Error: " + thrownError);
            }
        });
    }
</script>